<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>angry</string>
	<string>anxious</string>
	<string>calm</string>
	<string>carefree</string>
	<string>careful</string>
	<string>cautious</string>
	<string>cheerful</string>
	<string>excited</string>
	<string>fearful</string>
	<string>friendly</string>
	<string>frustration</string>
	<string>funny</string>
	<string>gloomy</string>
	<string>happy</string>
	<string>hopeful</string>
	<string>humorous</string>
	<string>joyful</string>
	<string>lonely</string>
	<string>mischievous</string>
	<string>optimistic</string>
	<string>peaceful</string>
	<string>pessimistic</string>
	<string>playful</string>
	<string>proud</string>
	<string>relaxed</string>
	<string>sad</string>
	<string>scared</string>
	<string>serious</string>
	<string>shocked</string>
	<string>silly</string>
	<string>suspicious</string>
	<string>terrified</string>
	<string>thoughtful</string>
	<string>upbeat</string>
	<string>worried</string>
</array>
</plist>
